log_level: INFO
http_address: ':8080'
db:
  dsn: 'host=db user=iamd'
  soft_delete: false
mail:
  from: '"Netsoc IAM <iam@netsoc.ie>"'
  reply_to: '"Netsoc support <support@netsoc.ie>"'
  verify_url: 'https://account.netsoc.ie/verify?token={{.Token}}'
  reset_url: 'https://account.netsoc.ie/reset?token={{.Token}}'
  smtp:
    host: mail
    port: 587
    username: iam@netsoc.ie
    password: hunter2
    tls: true
jwt:
  key: QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUE=
  key_file: /run/secrets/key.bin
  issuer: netsoc
  login_validity: '8760h'
  email_validity: '24h'
root_password: hunter22
